VITE_SUPABASE_URL=https://ranvmnmombkzsmzpiniu.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJhbnZtbm1vbWJrenNtenBpbml1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODExNDkwNzEsImV4cCI6MjA5NjcyNTA3MX0.zs-VsTceeR1IxXrrk6pN_PFv7TBSwD0mqAUPqET4gjk